body, html {
    height: 100%;
    margin: 0;
}

.bg { 
    /* The image used */
    background-image: url("https://images.pexels.com/photos/196667/pexels-photo-196667.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

.flex-item {
    line-height: 5rem;
    color: white;
    font-weight: normal;
    text-align: center;
}

.compre {
    font-family: 'Megrim', cursive;
    font-size: 9rem;
    margin: 0.35em auto;
}

@media(max-width: 930px){
    .compre {
        font-family: 'Megrim', cursive;
        font-size: 9rem;
        margin: 0.35em auto;
        line-height: 1em;
        
    }
}

@media(max-width: 562px){
    .compre {
        font-family: 'Megrim', cursive;
        font-size: 5rem;
        margin: 0.35em auto;
        line-height: 1em;
        
    }

    .em-breve{
        font-family: 'Ubuntu', sans-serif;
        font-size: 1rem;
        letter-spacing: 0.15rem;
        margin: 0;
        line-height: normal;
    }
}

.em-breve{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.2rem;
    letter-spacing: 0.15rem;
    margin: 0;
    line-height: normal;
}

.wrapper {
  margin: 2em auto;
  width: 100%;
}

.subscribe {
    line-height: 2.5em;
    margin-top: 20px;
}

input {
  line-height: 1em;
  outline: none;
  text-align: center;
  border: none;
  border-bottom: 1px solid #FF1E4E;
  width: 100%;
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 0.75px;
  background-color: transparent;
  color: black;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(15, 15, 15, 0.863);
    opacity: 1; /* Firefox */
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:rgba(15, 15, 15, 0.863);
}

input::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(15, 15, 15, 0.863);
}
button {
  text-align: center;
  background-color: #FF1E4E;
  outline: none;
  border: none;
  text-transform: uppercase;
  padding: 1em 1.3em;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  transition: all .3s; 
}

button:hover {
      background-color: transparent;
      border: 1px solid #FF1E4E;
      cursor: pointer;
      color: #FF1E4E;
      transition: all .3s;
}